body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FAF0CA;
  }
  
  .header {
    background-color: #875D0F;
    padding: 20px;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header .logo-left,
  .header .logo-center {
    display: flex;
    align-items: center;
    height: 100px;
  }
  
  .logo-left img,
  .logo-center img {
    height: 100px;
  }
  
  .container {
    display: flex;
    padding: 20px;
  }
  
  .order-details-box {
    flex: 2;
    height: 700px;
    background-color: #EEC06A;
    padding: 20px;
    font-size: 18px;
    margin-right: 20px;
  }
  
  .order-details-box h2 {
    margin-bottom: 10px;
  }
  
  .order-details {
    background-color: #ffffff;
    padding: 10px;
  }
  
  .item-list {
    display: flex;
    flex-direction: column;
  }
  
  .item {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
  }
  
  .discount-and-payment {
    flex: 1;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
  }
  
  .discount h2,
  .payment h2 {
    margin-bottom: 10px;
  }
  
  .discount-buttons,
  .payment-buttons {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
  }
  
  .discount-button,
  .payment-button {
    flex: 1;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 30px;
    font-size: 16px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .proceed-button {
    display: block;
    width: 100%;
    max-width: 150px;
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .back-button {
    background-color: #EEC06A;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .back-button:hover {
    background-color: #DDB052;
  }
  