pillow==10.0.0
asgiref==3.7.2
distlib==0.3.7
Django==4.2.4
et-xmlfile==1.1.0
filelock==3.12.2
gunicorn==21.2.0
openpyxl==3.1.2
packaging==23.1
platformdirs==3.10.0
sqlparse==0.4.4
tzdata==2023.3
virtualenv==20.24.2
