 {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel ="stylesheet" href="{% static 'css\login.css' %}">
</head>
<body >
  <div class="login-container">
    <img src="{% static 'media\logo.png'%}" alt="Logo Image" width= "300px" height = "300px">
    <div class="input-box">
      <input type="text" request="POST" id="username" placeholder="Username" onkeydown="checkEnter(event)">
      <input type="password" request="POST" id="password" placeholder="Password" onkeydown="checkEnter(event)">
      <button  id="login-btn" type="submit" request="POST">Login</button>
    </div>
  </div>
  <script src="{% static 'js\login.js' %}"></script> <!-- Link the JavaScript file -->
</body>
</html>